@using MeetingApp.Models
@model UserInfo

<main class="text-center">
    <h1 class="h4">Toplantı özeti</h1>
    @if(Model.WillAttend == true){
        <p>Teşekkrüler @Model.Name, toplantıya sizinle beraber @ViewBag.UserCount kişi katılıyor</p>
        <a class="btn btn-sm btn-outline-primary" href="/meeting/list">Katılımcıları görüntüle</a>
    }else{
        <p>@Model.Name, katılmadığından dolayı üzgünüz..</p>
        <a class="btn btn-sm btn-outline-primary" href="/meeting/apply">Başvuru formu</a>
    }


</main>