@model Kurs

<h2>Kurs Guncelle</h2>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-contoller="Kurs" asp-action="Edit" method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Baslik</label>
        <input asp-for="Baslik" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
    </div>
    <div class="col-4">
        <h4>Ogrenciler</h4>
        @foreach(var ogrenci in Model.KursKayitlari){
            <li>@ogrenci.Ogrenci.AdSoyad</li>
        }
    </div>
</div>
