@{
    Layout = "Layout2";
}

<h1 class="h4">Merhaba</h1>
<p>Toplantı katılım durumunuzu bildiriniz.</p>
<a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn-outline-primary">Başvuru yap</a>